name: altme
description: AltMe Flutter App 
version: 1.8.4+133
publish_to: none

environment:
  sdk: ">=2.17.0 <3.3.3"

dependencies:
  auto_size_text: ^3.0.0 
  beacon_flutter:
    git:
      url: https://github.com/TalaoDAO/beacon.git
      ref: 5afc170ff4f05c590508fed1c70e7e533021865f  
  # beacon_flutter:
  #   path: ../beacon
  bip39: ^1.0.6
  bloc: ^8.0.3
  cached_network_image: ^3.2.1
  camera: ^0.10.0
  confetti: ^0.7.0
  connectivity_plus: ^3.0.2
  credential_manifest:
    path: packages/credential_manifest
  cryptocurrency_keys:
    path: packages/cryptocurrency_keys
  dartez:
    git:
      url: https://github.com/TalebRafiepour/Dartez.git
      ref: main
  desk360flutter:
    git:
      url: https://github.com/Teknasyon-Teknoloji/desk360-flutter-sdk.git
      ref: 1.0.0
  device_info_plus: ^8.0.0
  device_preview: ^1.1.0
  did_kit:
    path: packages/did_kit
  dio: ^4.0.6
  dotted_border: ^2.0.0+2
  ed25519_hd_key: ^2.2.0
  equatable: ^2.0.3
  file_picker: ^4.5.1
  file_saver: ^0.1.1
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.1
  flutter_dotenv: ^5.0.2
  flutter_html: ^3.0.0-alpha.5
  flutter_local_notifications: ^9.7.0
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.6.10
  flutter_native_timezone: ^2.0.0
  flutter_svg: ^1.0.0
  google_fonts: ^2.3.1
  #google_mlkit_face_detection: ^0.5.0
  http: ^0.13.5
  image: ^3.1.3
  intl: ^0.17.0
  jose: ^0.3.2
  json_annotation: ^4.4.0
  json_path: ^0.3.1
  jwt_decode:
    path: packages/jwt_decode
  key_generator:
    path: packages/key_generator
  local_auth: ^2.1.0
  logger: ^1.1.0
  mobile_scanner: ^3.0.0-beta.1
  network_image_mock: ^2.1.0
  package_info_plus: ^1.3.0
  # passbase_flutter: ^2.13.3
  path: ^1.8.0
  path_provider: ^2.0.8
  permission_handler: ^9.2.0
  pointycastle: ^3.5.2
  qr_flutter: ^4.0.0
  secure_storage:
    path: packages/secure_storage
  share_plus: ^4.0.10
  shimmer: ^2.0.0
  switcher: ^1.0.0
  tezart:
    git:
      url: https://github.com/autonomy-system/tezart.git
      ref: bd4b8db6e3a352590a6e556d31df8aef60db3465
  uni_links: ^0.5.1
  url_launcher: ^6.0.17
  uuid: ^3.0.5
  #wallet_connect: ^1.0.4
  wallet_connect:
    git:
      url: https://github.com/bibash28/wallet-connect-dart.git
      ref: fba9b209ee2b61b62ddd643f07f6a7f64426d7b2
  web3dart: ^2.3.3
  webview_flutter: ^4.0.1
  workmanager: ^0.5.0

dependency_overrides:
# Because flutter_sodium 0.2.0 depends on ffi ^1.0.0 and no versions of flutter_sodium match >0.2.0 <0.3.0, flutter_sodium ^0.2.0 requires ffi ^1.0.0
  ffi: ^2.0.1

dev_dependencies:
  bloc_test: ^9.0.3
  build_runner: ^2.1.10
  flutter_test:
    sdk: flutter
  http_mock_adapter: ^0.3.2
  json_serializable: ^6.1.3
  mockingjay: ^0.3.0
  mockito: ^5.1.0
  mocktail: ^0.3.0
  very_good_analysis: ^2.4.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - .env
    - google_fonts/
    - assets/
    - assets/abi/
    - assets/splash/
    - assets/icon/
    - assets/image/
    - assets/privacy/
    - assets/terms/
    - assets/notices/